body {
  font-family: Pacifico, cursive, monospace;
  color: #fbd782;
}

.etch-border {
  background-color: #fc474a;
  border-radius: 10px;
  margin: auto;
  width: 1000px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.etch-border > h1 {
  font-weight: 100;
  font-size: 4rem;
}

.canvas {
  width: 550px;
  height: 550px;
  margin: auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  align-items: stretch;
  justify-content: stretch;
  background-color: #f2f2f2;
}

.square {
  background-color: #f2f2f2;
  user-select: none;
}

.square:hover {
  background-color: #fbd782;
}

.options {
  height: 15%;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  margin-block-end: 0.1rem;
  margin-block-start: 0.1rem;
}

.slider {
  appearance: none;
  border-radius: 9px;
  background: #fbd782;
}

input[type="color"] {
  width: 35px;
  height: 25px;
  border: 0;
  padding: 0;
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 1px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
}