*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Pacifico, cursive, monospace;
  color: #fbd782;
}

.etch-border {
  background-color: #1f98df;
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.etch-border > h1 {
  font-weight: 100;
  font-size: 4rem;
  padding: 1rem 0;
}

.main-section {
  display: flex;
  justify-content: space-around;
}

.canvas {
  width: 550px;
  height: 550px;
  margin: auto;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  align-items: stretch;
  justify-content: stretch;
  background-color: #f2f2f2;
}

.square {
  background-color: #f2f2f2;
  user-select: none;
}

.options {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  margin-block-end: 0.1rem;
  margin-block-start: 0.1rem;
}

button {
  width: 125px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  transition: width 0.2s cubic-bezier(0.2, 0.9, 0.3, 1.3);
}

button:hover {
  width: 135px;
}

.slider {
  appearance: none;
  width: 125px;
  height: 5px;
  border-radius: 9px;
}

input[type="color"] {
  width: 125px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
  border: 1px solid black;
  transition: width 0.2s cubic-bezier(0.2, 0.9, 0.3, 1.3);
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  padding: 0;
}

input[type="color"]:hover {
  width: 135px;
}

.footer {
  margin-top: auto;
}