.container {
  width: 45%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  justify-content: center;
}

.container > div {
  background-color: dodgerblue;
  width: 100%;
  aspect-ratio: 1/1;
}